body{
    background-color: black;
    font-family: 'Audiowide', cursive;
    color: whitesmoke;
    text-align: center;
}
h1{
    font-size: 50px;
    margin-top: 10px;
}
.container{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    font-size: 40px;
    margin: 0px;
    padding: 0px; 
}

.container > div{
    border: 10px solid whitesmoke;
    width: 30%;
    height: 500px;
}

.images > img:hover{
        transform: scale(1.2);
}


.images{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75%;
}
.images >  img{
    width: 100px; 
    align-self: center;
    
}

hr{
    padding: 0px;
    margin: 0px;
}

.container > div{
 margin: 0px;
 text-align: center;
}
.container > div > p{
    margin: 20px;
}

.container > div > div{
    margin: 0px;
 padding: 0px;
 font-size: 32px;
}
.container > div:nth-of-type(2){
    /* width: 10%;
    border: none;
    height: 20px; */
    width: 10%;
    border: none; 
    display: flex;
    flex-direction: column;
    height: 100%;
    /* margin-bottom: 5%; */
    
}
#whoWon{
    margin-top: 50px;
    justify-self: flex-start;
}

#playButton{
    margin-top: 100px;
    background-color:  #ec0c0c ; 
    border: 1px solid rgb(0, 248, 0);
    color:  #ecfd00;
    text-align: center;
    text-decoration: none;
    font-family: 'Audiowide', cursive;
    font-size: 25px;
    /* height: 20%; */
    /* justify-self: center; */
    /* box-shadow: 0 0 5px 10px  rgba(9, 240, 228, 0.3); */
}

#playButton:hover{
 transform: scale(1.2);
}